.sizeInfoB{
    height: 70px;
}
.pBlock{
    display: inline-block;

}
.pBlock2{
    display: inline-block;
    margin-left: 160px;
}
.inputBlockM{
    margin-left: 20px;
}
.inputSizeBuy{
    width: 395px;
}
.marginContainer{
    margin-left: 150px;
}
.blockAmount{
    display: inline-block;

}
.blockAmount2{
    display: inline-block;
    margin-left: 160px;

}
.blockAmount3{
    display: inline-block;
    margin-left: 230px;

}
.blockCheck{
    display: inline-block;
    margin-left: 310px;

}
.blockPrice{
    display: inline-block;
    margin-left: 285px;

}

.blockTittles{
    display: inline-block;

}
.blockTittles2{
    display: inline-block;
    margin-left: 250px;
}
.blockButtonsBuy{
    display: inline-block;
    width: 190px;
}
.blockButtonsBuy2{

    margin-left: 50px;
    width: 150px;
}
.cardBuy{
    width: 20px;
}